 .bgTop1{
     background-image: url("../img/bg3.jpg");
     background-repeat: repeat;
     background-position: right bottom;
     background-size: cover;
     width: 100%;
 }
 
 .blackOP05{
     background-color: rgba(0, 0, 0, 0.6);
 }
 
 .blackOP03{
     background-color: rgba(0, 0, 0, 0.7);
 }
 
 .barmenubg{
     background: linear-gradient(0deg, rgba(138,214,255,1) 0%, rgba(0,118,198,1) 2%, rgb(26, 120, 228) 100%);
 }
 
 .bgPVMENU{ background-color: #f7f7f7; }
 .bgPVMENU:hover{ background-color: #fff; }
 .bgGray{ background: #dbdbdb; }
 .bgLowGray{ background: #ebebeb; }
 .bgBoxSelect{ 
  background: #feab4b;
  border: 2px solid rgb(97, 97, 97);
 }
 .bgRed{
     border-radius: 0px;
     background: #ff0000;
     box-shadow:  5px 5px 1px #181818,
              -5px -5px 1px #fff9f9;
 }

 .bgRed2{ background: #ff0000; }
 .bgGreen{
     border-radius: 0px;
     background: #047719;
     box-shadow:  5px 5px 1px #181818,
              -5px -5px 1px #fff9f9;
 }
 
 .bgFB{ 
    background-color: #3975ea; 
}
 .bgGG{ background-color: #DB4437; }
 .bgLINE{ background-color:#70c46f; }
 .bgHilighttext{ background-color: #FFFFB5; }
 .bgHilighttext2{ background-color: #ffffff; }
 .bgForm{ background-color: #efefef; }
 .bgWhiteOP1{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .bgWhiteOP2{
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .bgWhiteOP3{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .bgWhiteOP4{
    border-radius: 0px;
    background: #fff;
    box-shadow:  5px 5px 10px #d1d1d1,
             -5px -5px 10px #ffffff;
  }