@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');
body {
  font-family: 'Sarabun', sans-serif;
}

/* For mobile devices */
@media (max-width: 767px) {
  #deschead,#welcome {
    display: none;
  }
}

/* For desktop devices */
@media (min-width: 768px) {
  #deschead,#welcome {
    display: block;
  }
}

#collapsibleNavbar ul {
  justify-content: flex-end;
}

a {
  color: inherit; /* Don't change text color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: inherit; /* Don't change text color */
  text-decoration: underline; /* Show underline on hover */
}

.dynamic-font{
  display: inline-block;
  text-align: center;
  font-size: calc(10px + 1vw);
  white-space: nowrap;
  text-decoration: none;
}

.f8 { font-size:  8px;}
.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.f20{ font-size: 20px;}
.f22{ font-size: 22px;}


.scaleloop {
  animation: scaleUpLoop 3s ease-in-out infinite;
}

@keyframes scaleUpLoop {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
}

.myRoundedL {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
}

.myRoundedR {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
}

.thumb-image1 {
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 100%;
}

.flex-item {
  padding: 2px;
  flex: 0 0 33%; /* Set flex-grow, flex-shrink, and flex-basis */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

#cflogout {
  display: flex;
  justify-content: space-between;
}

#cfPostDel {
  display: flex;
  justify-content: space-between;
}

#cflogout .btn {
  width: 50%;
}

#cfPostDel .btn {
  width: 50%;
}

a.no-underline {
  text-decoration: none;
}

a.no-underline:hover {
  color: #FF5733; /* Change the color on hover, if desired */
}

/* Position <DIV> */
div.RB {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

div.LB {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

div.RT {
  position: absolute;
  top: 0px;
  right: 0px;
}

div.RT {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.R0 {
  position: absolute;
  right: 10px;
}

/*************************/
/* INPUT FORM */
/*************************/
  input.form-control::-webkit-input-placeholder {
    font-size: 14px;
    color: gray;
  }

  input.form-control::-moz-placeholder {
    font-size: 14px;
    color: gray;
  }

  input.form-control:-ms-input-placeholder {
    font-size: 14px;
    color: gray;
  }

  input.form-control::placeholder {
    font-size: 14px;
    color: gray;
  }

  .inputGroup {
    margin: 1em 0 1em 0;
    position: relative;
  }
  


/*************************/
/* Custom Background */
/*************************/
  .bgRed{
    border-radius: 0px;
    background: #ff0000;
    box-shadow:  5px 5px 1px #181818,
             -5px -5px 1px #fff9f9;
  }

  .bgRed2{
    background: #ff0000;
  }
  .bgGreen{
    border-radius: 0px;
    background: #047719;
    box-shadow:  5px 5px 1px #181818,
             -5px -5px 1px #fff9f9;
  }

  .bgFB{
    background-color: #3b5998;
  }

  .bgTW{
    background-color: #00acee;
  }

  .bgHeader{
    background: linear-gradient(0deg, #343434 0%, #000000 100%);
  }
  .bgHilighttext{
    background-color: #FFFFB5;
  }

  .bgHilighttext2{
    background-color: #ffffff;
  }

  .bgForm{
    background-color: #efefef;
  }
  .bgWhiteOP1{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .bgWhiteOP2{
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .bgWhiteOP3{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .white-border {
    border-color: white;
    border-width: 2px;
  }

/*************************/
/* Text Color */
/*************************/
  .txtPurple2{
    color: #3f51b8;
  }

  .text-bold{
    font-weight: bold;
  }

  .text-wvred{
    text-decoration-color: red;  
  text-decoration-style: wavy; 
  }

  .text-ulred{
    text-decoration: underline red;
  }

  .text-ul{
    text-decoration: underline;
  }


  .page-item {
    margin-bottom: 10px; /* add a margin of 10 pixels below each item */
  }
/*************************/
/* Drop Zone Image Upload */
/*************************/
  .dropzone {
    width: 100%;
    height: 200px;
    border: 1px dashed #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(to right, #7affe7, #53a8ff);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: 5px;
  }


  .thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin: 15px;
    border-radius: 10px; /* Rounded corners */
    border: 2px solid white; /* White border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
  }
  

/*************************/
/* Scale Button */
/*************************/
  .scale-button {
    /* Add your desired button styles */
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;/* Animate the transform property */
  }
  
  .scale-button:hover {
    transform: scale(1.03); /* Scale up the button by 10% */
  }

  .scale-li{
    cursor: pointer;
    transition: transform 0.3s;
  }

  .scale-li:hover{
    transform: scale(1.2);
  }
  
  /* Flex */
  .responsive-flex {
    display: flex;
    flex-direction: row;
  }

  .responsive-flex > div {
    flex: 1;
  }

  @media (max-width: 768px) {
    .responsive-flex {
      flex-direction: column;
    }
    .responsive-flex > div {
      flex: none;
      width: 100%;
    }
  }

/*************************/
/* CSS Footer */
/*************************/
  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background: black;
  

  }

  @media (max-width: 767px) {
    .footer-menu {
      flex-direction: column;
    }

    .footer-link:last-child {
      border-bottom: none;
    }
  }

